<launch>

    <arg name="bag_name"     value="bag2"/>

    <arg name="wheel_radius" value="0.071"/>
    <arg name="robot_length" value="0.180"/>
    <arg name="robot_width"  value="0.169"/>
    <arg name="cpr"          value="40.0"/>
    <arg name="gear_ratio"   value="0.2"/>
    <arg name="noise_filter" value="8"/>

    <node pkg="rosbag" type="play" name="bag1_play" args="--clock $(find project1)/bags/$(arg bag_name).bag"/>
    
    <node pkg="velocity" type="velocity_calculator" name="velocity_calculator" args="$(arg wheel_radius) $(arg robot_length) $(arg robot_width) $(arg cpr) $(arg gear_ratio)" output="screen"/>

    <node pkg="integrator" type="integrator_node" name="integrator_node" output="screen"/>

    <node pkg="position_setter" type="position_setter_node" name="position_setter_node" args="3" output="screen"/>

    <node pkg="inverse_rpm" type="inverse_kin" name="inverse_kin_calculator" args="$(arg wheel_radius) $(arg robot_length) $(arg robot_width) $(arg cpr) $(arg gear_ratio)"/> <!-- output="screen"/> -->

    <!--<node pkg="vel_debug" type="inverse_kin_debug" name="inverse_kin_debug" output="screen"/> -->

    <node pkg="rviz" type="rviz" name="rviz_robot_pos" args="-d $(find project1)/launch/robot_odom.rviz"/>

</launch>